.footer {
  display: flex;
  padding: 10px 30px;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  bottom: 0;

  &_description {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      color: rgb(196, 196, 196);
      //   padding: 0px 50px;
      // padding: 0px 60px;
    }

    img {
      width: 200px;
    }
  }

  &_linkSection {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    p {
      color: rgb(190, 190, 190);
      cursor: pointer;
      margin: 0px 10px;
      transition: 0.2s all;
    }

    p:hover {
      color: rgb(124, 123, 123);
    }
  }

  @media (max-width: 768px) {
    &_description {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      flex-wrap: wrap;
      justify-content: center;

      p {
        padding: 0px 0px;
      }
    }

    &_linkSection {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px 0px;
    }
  }
}
