<div class="footer">
    <div class="footer_description">
      <img [src]="imageUrl" alt="">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        numquam eius autem, praesentium pariatur illo ex iure, quidem neque
        blanditiis sint quod voluptatem officia. Quia est reprehenderit incidunt
        iure dolores!
      </p>
    </div>

    <div class="footer_linkSection">
      <p routerLink="">Home</p>
      <p routerLink="menu">Menu</p>
      <p routerLink="about">About</p>
      <p routerLink="contact">Contact</p>
    </div>
</div>
